$black: #333333;
$primary: #f9dc5c;
$secondary: #fef5ef;

$sans-serif: 'Raleway', sans-serif;
$serif: 'Cormorant Garamond', serif;

$light: 300;
$bold: 700;

$media-sm: 576px;
$media-md: 768px;
$media-lg: 992px;
$media-xl: 1200px;